<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arriving.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>517736D792883114CB0E0F8EEEF96346DF5DD78D</string>
				<key>dateExpires</key>
				<string>16/01/2019</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>517736D792883114CB0E0F8EEEF96346DF5DD78D</string>
						<key>dateExpires</key>
						<string>16/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AUU33L324L</string>
						<key>name</key>
						<string>Kulturveranstaltungen des Bundes in Berlin (KBB) GmbH</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>517736D792883114CB0E0F8EEEF96346DF5DD78D</string>
						<key>dateExpires</key>
						<string>16/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireSwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AUU33L324L</string>
						<key>name</key>
						<string>Kulturveranstaltungen des Bundes in Berlin (KBB) GmbH</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>517736D792883114CB0E0F8EEEF96346DF5DD78D</string>
						<key>dateExpires</key>
						<string>16/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Localize_Swift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AUU33L324L</string>
						<key>name</key>
						<string>Kulturveranstaltungen des Bundes in Berlin (KBB) GmbH</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>517736D792883114CB0E0F8EEEF96346DF5DD78D</string>
						<key>dateExpires</key>
						<string>16/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Mapbox.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AUU33L324L</string>
						<key>name</key>
						<string>Kulturveranstaltungen des Bundes in Berlin (KBB) GmbH</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>517736D792883114CB0E0F8EEEF96346DF5DD78D</string>
						<key>dateExpires</key>
						<string>16/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxDirections.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AUU33L324L</string>
						<key>name</key>
						<string>Kulturveranstaltungen des Bundes in Berlin (KBB) GmbH</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>517736D792883114CB0E0F8EEEF96346DF5DD78D</string>
						<key>dateExpires</key>
						<string>16/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Polyline.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AUU33L324L</string>
						<key>name</key>
						<string>Kulturveranstaltungen des Bundes in Berlin (KBB) GmbH</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>517736D792883114CB0E0F8EEEF96346DF5DD78D</string>
						<key>dateExpires</key>
						<string>16/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AUU33L324L</string>
						<key>name</key>
						<string>Kulturveranstaltungen des Bundes in Berlin (KBB) GmbH</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>517736D792883114CB0E0F8EEEF96346DF5DD78D</string>
						<key>dateExpires</key>
						<string>16/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AUU33L324L</string>
						<key>name</key>
						<string>Kulturveranstaltungen des Bundes in Berlin (KBB) GmbH</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AUU33L324L.eu.kbb.arriving.mobileapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>AUU33L324L</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>AUU33L324L.eu.kbb.arriving.mobileapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Arriving.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>42501264-fc95-4cbc-94df-631cb03d0838</string>
				<key>name</key>
				<string>arriving app store</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AUU33L324L</string>
				<key>name</key>
				<string>Kulturveranstaltungen des Bundes in Berlin (KBB) GmbH</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
